.container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 3px solid transparent;
    border-image: linear-gradient(to right, Pink,#ff6565,#135497,#636219,#FF8246);
    border-image-slice: 1;
    padding: 25px;
    color:red;
}